<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Reserved - AutoHire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/bootstrap-icons.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body class="">
    <nav class="navbar navbar-expand-lg border-body bg-primary p-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/header.png') }}" alt="AutoHire" height="35"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                        <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                    </li>
                    {% if role == "admin" %}
                    <li class="nav-item dropdown">
                        <button class="btn text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </button>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" href="/admin-fleet">Manage Fleet</a></li>
                            <li><a class="dropdown-item" href="/admin-report">Report Management</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="float-end p-2">
                <div class="d-flex justify-content-start text-light">
                    <!-- Profile Image -->
                    <img src="{{ user.get_profile_image_url() }}" alt="user.get_name()" class="rounded-circle"
                        style="width: 40px; height: 40px; object-fit: cover;">

                    <!-- Text: name & email -->
                    <div class="ms-2">
                        <div class="fw-semibold text-start">{{ user.get_name() }}</div>
                        <div class="text-light text-start small">{{ user.get_email() }}</div>
                    </div>
                </div>
            </div>
            <div class="vr mx-3" style="color: white;"></div>
            <div class="float-end p-1">
                <a href="/profile" class="btn btn-primary">Profile</a>
            </div>
            <div class="float-end p-1">
                <a href="/logout" class="btn btn-primary" style="background-color: #f86716;">Logout <i
                        class="bi bi-box-arrow-right" style="margin-left: 5px;"></i></a>
            </div>
        </div>
    </nav>

    {% block content %}
    <div class="container text-center py-5">
        <h2 class="text-success">Reservation Confirmed!</h2>
        <p>Your car has been reserved successfully.</p>
        <p><strong>Reservation ID:</strong> {{ reservation.get_id() }}</p>

        <a href="{{ url_for('download_receipt', reservation_id=reservation.get_id()) }}" class="btn btn-primary mt-3"
            target="_blank">
            Download Receipt PDF
        </a>
    </div>
    {% endblock %}


    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>